export IMAGE_NAMESPACE=cyrinux
export IMAGE_REGISTRY=docker.io
export IMAGE_PROJECT=pwnagotchi
export IMAGE_NAME=docker.io/cyrinux/pwnagotchi

export PWNAGOTCHI_NAME=pwnagotchi
export PWNAGOTCHI_LANG=en
export PWNAGOTCHI_USERNAME=pwnagotchi
export PWNAGOTCHI_PASSWORD=pwnagotchi
export PWNAGOTCHI_IFACE_NET=phy0
export PWNAGOTCHI_IFACE_MON=mon0
export PWNAGOTCHI_IFACE_USB=usb0
export PWNAGOTCHI_MAX_BLIND_EPOCHS=10
export PWNAGOTCHI_WHITELIST=[]
export PWNAGOTCHI_FILTER=
export PWNAGOTCHI_WEB_ENABLED=true
export PWNAGOTCHI_WEB_ADDRESS=0.0.0.0
export PWNAGOTCHI_DISPLAY_ENABLED=false
export PWNAGOTCHI_DISPLAY_ROTATION=180
export PWNAGOTCHI_DISPLAY_TYPE=waveshare_2
export PWNAGOTCHI_PLUGIN_GRID_ENABLED=true
export PWNAGOTCHI_PLUGIN_GRID_REPORT=true
export PWNAGOTCHI_PLUGIN_GRID_EXCLUDE=[]
export PWNAGOTCHI_PLUGIN_LED_ENABLED=true
export PWNAGOTCHI_PLUGIN_MEMTEMP_ENABLED=true
export PWNAGOTCHI_PLUGIN_SESSION_STATS_ENABLED=true
export PWNAGOTCHI_PERSONALITY_ADVERTISE=true
export PWNAGOTCHI_PERSONALITY_DEAUTH=true
export PWNAGOTCHI_PERSONALITY_ASSOCIATE=true
export PWNAGOTCHI_PERSONALITY_CHANNELS=[]
export PWNAGOTCHI_ANDROID_MAC=F8:1A:2B:2F:6F:5B
export PWNAGOTCHI_ANDROID_IP=192.168.44.46
