PWNAGOTCHI_USERNAME=pwnagotchi
PWNAGOTCHI_PASSWORD=pwnagotchi
PWNAGOTCHI_IFACE_NET=wlan0
CONTAINER=pwnagotchi
IMAGE=docker.io/cyrinux/pwnagotchi
TAG=latest
PWNAGOTCHI_NAME=${PWNAGOTCHI_NAME}
PWNAGOTCHI_ANDROID_MAC=${PWNAGOTCHI_ANDROID_MAC}
PWNAGOTCHI_ANDROID_IP=${PWNAGOTCHI_ANDROID_IP}
